.NavBar {
  height: 100%;
}

.logo {
  width: 100px;
  border-right: 2px solid grey;
}

a {
  display: block;
}

img {
  width: 70px;
  display: block;
}
.setting {
  justify-content: flex-end;
}
.Nav {
  display: flex;
  flex-direction: column;
  background-color: #A371ED;
  width: 100px;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

.Nav img:last-child {
  margin-top: auto;
}
